#heading{
    color: grey;
    font-size: 100%;
    text-align: center;

}
hr{
    color: grey;
    
}
#nbar{
    display: flex;

}
#nbar>p{
    margin-left: 10px;
    margin-right: 10px;
}
 #nbar img{
    margin-left: 10%;
    margin-right: 30px;
}
#nbar>p:hover{
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 0.3rem;
}
#icons{
   margin-left: 10%;
   margin-top: 12px;
   
}
#icons i{

margin: 20px;
cursor: pointer;


}#icons > i:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
#mainyourcart{
  display: flex;
  margin-top: 60px;
  font-size: 20px;
  
  
}

#urcart{
    font-family: assistant,sans-serif;
    margin-left: 100px;
    
    
   
}


#continueshopping{
    margin-left: 50%;
}
#ptags{
    font-size: 10px;
    margin-top: 40px;
    
    display: flex;
    justify-content: space-between ;
    color: grey;
}


    
#anker{
    margin-top: 20px;
    margin-left: 100px;
    color: grey;
    
}
#urcart p{
    margin-top: 50px;
    font-size: 10px;
    color: grey;
}



#ig img{
    border: 1px solids silver ;
    width: 10%;
    margin-left: 100px;
    margin-top: 30px;
   

}
#ig{
    display: flex;
    
}
#info{
    margin-top: 30px;
    margin-left: 30px;
}

#box{
margin-left: 37%;

}button{
margin-top: 40px;
padding: 10px 10px;
margin-left: 60px;
}
#ticon{
margin-left: 30px;
cursor: pointer;
}
#total P{
margin-left: 100px;
margin-top: 40px;
}
#thirdbox{
    margin-bottom: 50px;
}
#subtotal{
    display: flex;
    color: grey;
    margin-left: 80%;
}
#subtotal p{

    margin-left: 30px;
}
#bt{
    display: flex;
    margin-left: 70%;
}
#afterpay{
    padding: 0px 5px;
    border-radius: 10px;
    border: none;
    background-color:rgb(31, 187, 187);
    color: black;
    cursor: pointer;

}
#btns{
    margin-bottom: 50px;
}


#afterpay:hover{
    padding: 3px 7px;
    color: red;

}
#bt p{
    margin-top: 30px;
    margin-left: 20px;
    font-family: assistant,sans-serif;
}
#para{
    margin-left: 74%;
    color: grey;
    border: none;
}
#btns{
    margin-right: 40px;
}
#checkout{
    padding: 15px 100px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    margin-left: 5px;
}
#shoppay{
    padding: 15px 100px;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
    margin-left: 5px;
}
#paypal{
    padding: 15px 105px;
    cursor: pointer;
    border: none;
    background-color: rgb(235, 220, 17);
    color: white;
    margin-left: 5px;
}
#gpay{
    padding: 15px 110px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    margin-left: -2px;
}
#checkout:hover{
    padding: 15px 101px;
    background-color: rgb(28, 30, 31);
}
#shoppay:hover{
    padding: 15px 101px;
    background-color: rgb(60, 60, 190);
}
#paypal:hover{
    padding: 15px 106px;
    background-color: rgb(230, 230, 65);
}
#gpay:hover{
    padding: 15px 111px;
    background-color: rgb(36, 35, 35);
}
span{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
#fifthbox {

display: flex;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    width: 70%;
    margin: auto;
    margin-top: 40px;

}
#fifthbox img{
    width: 90%;
    border: 0.1px solid rgb(177, 171, 171);
grid-template-columns: repeat(4,1fr);
cursor: pointer;

}h2{
    margin-left: 50px;
    color: rgb(68, 61, 61);
}
#fifthbox img:hover{
    transition: transform 0.8s;
    transform: scale(1.07);
}
#footer{
    display: flex;
    /* justify-content: space-between; */
    margin: 0 15%;
}
#footer p{
   
    color: grey;
    
}
#footer #pBold{
    color: rgb(68, 68, 68);
    font-weight: bolder;

}
#mailBox{
    border: 1px solid rgb(187, 179, 179);
    width: 400px;
    border-radius: 1px;
    display: flex;
    align-items: center;
}
#mailBox a{
    margin-left: 35%;
    color: black;
    font-size: 14px;
    transition: transform 0.2s;
    text-decoration: none;
}
#mailBox i{
    display: grid;
    margin: 12px;
    margin-left: 325px;
    justify-content:flex-end;
    /* margin-right: 10px; */
    align-content: center;
}
#contacts{
    margin-left: 15%;
}
#payment{
    text-align: center;
}
#seemore{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
