body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #121212;
  font-weight: 400;
  margin: 0;
  padding: 0;
  }
#chatBox{
  width: 120px;
  background-color: #44594f;;
  color: white;
  padding: 1px 5px;
  border-radius: 40px;
  text-align: center;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 100;
}

#navbar p{
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(var(--color-foreground));
  font-size: 85%;
}
#navbar>a{
  text-decoration: none;
  color: rgb(var(--color-foreground));
}
#navbar p:hover{
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  cursor: default;
}
#heading{
  text-align: center;
  font-size: 80%;
  color: grey;
}
hr{
  color: #d2d2d2;
  ;
}
#icons{
  display: flex;
  align-items: center;

}
#icons i{
  margin: 10px;
  
}
#mNavbar{
  display: flex;
  justify-content: space-between;
  margin: 25px 15%;
}
#navbar img{
  margin-right: 30px;
}
#navbar{
  display: flex;
}


/* self */

*{
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
}
#container{
  display: grid;
width:35%;
margin:auto;

}
#container input{
    width: 100%;
    padding: 13px;
    margin:10px 0;
}
#container h1{
font-size: 40px;
font-family: assistant,sans-serif;
font-weight: 400;
color: #121212;
text-align: center;
margin:30px 0;
}
#sign{
    
    margin:auto;
}

#shi>p{
    color:red;
    text-align:center;
    margin-bottom:30%;
  }
  #fcebk
  {
    font-size: 28px;
    margin-left: 40px;
    margin-right: 15px;
    
  }
  #fcebkk
  {
    font-size: 28px;
    margin-left: 40px;
    margin-right: 15px;
    color:blue;
    border: 2px solid teal;
    background-color: pink;
  }
  #amzn
  {
    font-size: 21px;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 15px;
  }
  
  #cnt
  {
    margin-top: 10px;
  }
  #cntt
  {
    margin: 10px 50px;
    font-size: 15px;
    color:red;
  }
  #cn
  {
    margin: 10px 50px;
    font-size: 15px;
    color:white;
   
  }
  #go
  {
    margin: auto 20px;
    font-size: 15px;
    color:red;
   
  }
  .social a{
    text-decoration:none;
  
    margin:12%;
  }
  #fb
  {
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    border: 2px solid #1877F2;
    color: #1877F2;
    display: flex;
    
  }
  #fbb
  {
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    border:2px solid yellow;
    display: flex;
  }
  .fa-brands fa-facebook
  {
    font-weight: bolder;
  }
  #amazon
  {
    width: 100%;
    height: 45px;
    background-color: #ffa100;
    color: white;
    display: flex;
    margin:-20px 0 -3% 0;
    border:none;
  }
.social .fbtxt{
    font-size: 13px;
   
    margin:12px;
}
.social .amazontxt{
    font-size: 15px;
    color:white;
    margin:50px;
}
#shi > button{
    display: flex;
    margin:auto;
    color:white;
    background-color: #000000;
    padding:14px 40px;
}
 
 #forgotPassword{
  text-decoration: none;
  color:#121212d9;
  border-bottom: 1px solid #121212d9;
 }
 #forgotptage{
  margin-top:-1%;
  margin-bottom:10%;
 }
 #createac{
  text-decoration: none;
  color:#121212d9;
  border-bottom: 1px solid #121212d9;
 }

 #google{ 
   display: flex;
  width: 100%;
  height: 45px;
  margin-top:-3%;
  margin-bottom:2%;
  background-color: white;
  border:none;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
#ggl img{
  width:50%;
  height: 50%;
 margin-top:15%;
 margin-left:100%;
}

#gog{
  margin: 2.5% 20%;
  font-size: 15px;
  color:#121212;
}
#fname::-webkit-input-placeholder,#lname::-webkit-input-placeholder,
#mail::-webkit-input-placeholder,#password::-webkit-input-placeholder{
  font-size: 15px;
}
input{
  border:1.5px solid #121212BF;
}
#righttick{
  width:5%;
  margin-top: 4%;
  margin-right: 2%;
}
#resetpass{
  display:flex;
  margin-left: 2%;
  margin-bottom:-2%;
  display:none;
}
#adjust{
  height: 45px;
  margin-bottom:-8%;
  margin-top:-18%;

} 
#logimage{
  width:4%;
  margin-left:2px;
  margin-right: 25px;
}
#logp{
  margin-top:-5%;
  margin-bottom:9%;
  font-size: 25px;
  display:none;
}
#ull{
  margin-left:20px;
  display:none; 

}

 /* footer */

#footer{
  display: flex;
  margin: 0 15%;
  padding-top: 36px;
  padding-bottom: 36px;
}
#footer p{
  row-gap: 6rem;
  color: grey;
  font-weight: 300;
}
#footer #pBold{
  color: rgb(68, 68, 68);
  font-weight: 600;

}
#mailBox{
  border: 1px solid rgb(187, 179, 179);
  width: 400px;
  border-radius: 1px;
  display: flex;
  align-items: center;
}
#mailBox a{
  margin-left: 35%;
  color: black;
  font-size: 14px;
  transition: transform 0.2s;
  text-decoration: none;
}
#mailBox i{
  display: grid;
  margin: 12px;
  margin-left: 325px;
  justify-content:flex-end;
  /* margin-right: 10px; */
  align-content: center;
}
#contacts{
  margin-left: 15%;
}
#paymentMethod{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1px;
  margin: 32%;
  margin-top: 35px;
  margin-bottom: 0px;
}
#copywrite{
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

