body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #121212;
    font-weight: 400;
    margin: 0;
    padding: 0;
    }
#chatBox{
    width: 120px;
    background-color: #44594f;;
    color: white;
    padding: 1px 5px;
    border-radius: 40px;
    text-align: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 100;
}
#searchParent{
    display: none;
}
.search {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .search i{
        margin: 5px;
    }
    .search img{
        width: 40px;
    }
    .search .input {
    background-color: #fff;
    /* border: none; */
    font-size: 18px;
    padding: 15px;
    height: 20px;
    width: 500px;
    transition: width 0.3s ease;
    }
    #searchClose{
        
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    }
    #btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    /* font-size: 24px; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    }
    #btn:focus,
    .input:focus {
    outline: none;
    }
    .search.active .input {
    width: 200px;
    }
    .search.active #btn {
    transform: translateX(198px);
    }
#navbar p{
    margin-left: 10px;
    margin-right: 10px;
    /* color: rgb(var(--color-foreground)); */
    color: gray;
    font-size: 85%;
}
#navbar>a{
    text-decoration: none;
    color: rgb(var(--color-foreground));
}
#navbar p:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    cursor: default;
}
#heading{
    text-align: center;
    font-size: 80%;
    color: grey;
}
hr{
    color: rgb(187, 179, 179)
}
#icons{
    display: flex;
    align-items: center;

}
#icons i{
    margin: 10px;
    color: #121212;
    
}
#mNavbar{
    display: flex;
    justify-content: space-between;
    margin: 25px 15%;
}
#navbar img{
    margin-right: 30px;
}
#navbar{
    display: flex;
}
#banner {
    box-sizing: inherit;
    filter: brightness(85%);
    width: 100%;
    object-fit: cover;
    height: 700px;
}
#floting-text-box {
    text-align: center;
    position: absolute;
    margin-top: -300px;
    margin-left: 37%;
    z-index: 1;
}
 #floting-text-box h1 {
    font-size: 52px;
    line-height: 68px;
    color: white;
    font-weight: 400;
    white-space: nowrap;
}
#floting-text-box h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: rgb(255, 255, 255, 0.75);
    margin-top: -20px;
    margin-bottom: 35px;
}
#floting-text-box a {
    background-color: transparent;
    padding: 14px 35px;
    border: 1px solid white;
    border-radius: 1px;
    color: white;
    font-size: 14px;
    transition: transform 0.2s;
    text-decoration: none;
}
#floting-text-box a:hover {
    cursor: pointer;
    outline: 1px solid white;
}
#productbox>div>p{
    font-weight: 300;
}
#productbox>div>h4{
    font-weight: 500;
}
#productbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}
#productbox>div>img{
    position: absolute;
    width: 255px;
}
#productbox>div>div>img{
    position: relative;
    opacity: 0;
    transition: transform 1s; 
    object-fit: cover;
    width: 100%;
}
#productbox>div>div>img:hover{
    opacity: 1;
    transition: transform 1s;
}
#productbox>div>div {
    position: relative;
    overflow: hidden;
}
#productbox>div>div>img{
    vertical-align: top;
    max-width: 100%;
}
#productbox>div>div:hover img {
    transform: scale(1.1);
}

/* Shop the feed */
#shopFeedHeading{
    padding: 4%;
    text-align: center;
}
#shopFeedHeading h1,p{
    font-weight: 450;
}
#followUs{
    text-align: center;
}
.bigBlock{
    display: flex;
    margin-left: 15%;
}
#feedParentBox{
    padding-bottom: 150px;
}
.colRowGrid{
    grid-row: span 2;
    grid-column: span 2;
}
#feedImageBlock{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 40%;
    gap: 5px;
    margin-top: 5px;
}
#feedImageBlock img{
    width: 200px;
    height: 200px;
}
#feedImageBlock>#bigImageFeed{
    width: 405px;
    height: 405px;
}
#feedLink{
    color: blue;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Footer */
#footer{
    display: flex;
    margin: 0 15%;
    padding-top: 36px;
    padding-bottom: 36px;
}
#footer p{
    row-gap: 6rem;
    color: grey;
    font-weight: 300;
}
#footer #pBold{
    color: rgb(68, 68, 68);
    font-weight: 600;

}
#mailBox{
    border: 1px solid rgb(187, 179, 179);
    width: 400px;
    border-radius: 1px;
    display: flex;
    align-items: center;
}
#mailBox a{
    margin-left: 35%;
    color: black;
    font-size: 14px;
    transition: transform 0.2s;
    text-decoration: none;
}
#mailBox i{
    display: grid;
    margin: 12px;
    margin-left: 325px;
    justify-content:flex-end;
    /* margin-right: 10px; */
    align-content: center;
}
#contacts{
    margin-left: 15%;
}
#paymentMethod{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1px;
    margin: 32%;
    margin-top: 35px;
    margin-bottom: 0px;
}
#copywrite{
    font-size: 12px;
    text-align: center;
}
