*{
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
}
#container{
width:35%;
margin:auto;

}
#container input{
    width: 100%;
    padding: 13px;
    margin:10px 0;
}
#container h1{
font-size: 40px;
font-family: assistant,sans-serif;
font-weight: 400;
color: #121212;
text-align: center;
margin:50px 0;
}
#sign{
    
    margin:auto;
}

#shi>p{
    color:red;
    text-align:center;
  }
  .social a{
    text-decoration:none;
  
    margin:12%;
  }
  #fb{
    border:2px solid blue;
  
    padding:8px;
    margin:12px 0;
  }
  #google{
   
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    padding:8px;
    margin:12px 0;
  }
  #amazon{
    
    background: #ffa100;
    padding:8px;
    margin:10px 0 30px 0;
  }

  /* .social .socialf{
    font-size:18px;
    margin: 4px;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    background-color: #1877f2;
  } */
  .social .socialf .fa-facebook:before {
    background-color: #1877f2;
    padding: 4px 0 0 0;
    color: #fff;
    line-height: 24px;
    width: 26px;
    box-sizing: content-box;
    border-radius: 13px;
    text-align: center;
    text-shadow: none;
    font-size: 20px;
    display: block;
    height: 22px;
}
.social .fbtxt{
    font-size: 13px;
   
    margin:12px;
}
.social .amazontxt{
    font-size: 15px;
    color:white;
    margin:50px;
}
.social .googletxt{
    font-size: 15px;
    color:#000000;
    margin:50px;
}
button{
    display: flex;
    margin:auto;
    color:white;
    background-color: #000000;
    padding:14px 40px;
}
.social .socialf .fa-amazon:before{
  
    padding: 4px 0 0;
    color: #fff;
    line-height: 24px;
    width: 26px;
    box-sizing: content-box;
    border-radius: 13px;
    text-align: center;
    text-shadow: none;
    font-size: 20px;
    display: block;
    height: 22px;
}
.social .socialf .fa-google:before{
  
    padding: 4px 0 0;
 
    line-height: 24px;
    width: 26px;
    box-sizing: content-box;
    border-radius: 13px;
    text-align: center;
    text-shadow: none;
    font-size: 20px;
    display: block;
    height: 22px;
}
 

