*{
    font-family: 'Assistant', sans-serif;
    color: gray;
    /* color: #121212; */
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #121212;
    font-weight: 400;
    margin: 0;
    padding: 0;
    }
#navbar>p{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(var(--color-foreground));
    font-size: 85%;
}
#navbar>p:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    cursor: default;
}
#heading{
    text-align: center;
    font-size: 80%;
    color: grey;
}
hr{
    color: rgb(187, 179, 179)
}
#icons{
    display: flex;
    align-items: center;

}
#icons i{
    margin: 10px;
    
}
#mNavbar{
    display: flex;
    justify-content: space-between;
    margin: 25px 15%;
}
#navbar img{
    margin-right: 30px;
}
#navbar{
    display: flex;
}
#banner {
    box-sizing: inherit;
    filter: brightness(85%);
    width: 100%;
    object-fit: cover;
    height: 700px;
}
#floting-text-box {
    text-align: center;
    position: absolute;
    margin-top: -300px;
    margin-left: 37%;
    z-index: 1;
}
 #floting-text-box h1 {
    font-size: 52px;
    line-height: 68px;
    color: white;
    font-weight: 400;
    white-space: nowrap;
}
#floting-text-box h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: rgb(255, 255, 255, 0.75);
    margin-top: -20px;
    margin-bottom: 35px;
}
#floting-text-box a {
    background-color: transparent;
    padding: 14px 35px;
    border: 1px solid white;
    border-radius: 1px;
    color: white;
    font-size: 14px;
    transition: transform 0.2s;
    text-decoration: none;
}
#floting-text-box a:hover {
    cursor: pointer;
    outline: 1px solid white;
}
#parentbox{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row-reverse;
    /* border: 2px solid red; */
    gap: 50px;
    /* widt */
}
#images{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 30%;
    
}
#images>img:first-child{
    height: 1000px;
}
#images>div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#images>div>img{
    width: 49%;
}
/* #cartinfo{
    display: flex;
    flex-direction: column;
} */
#stardiv{
    display: flex;
    gap: 5px;
}
#stardiv>p:last-child{
   color: gray ;

   font-family: 'Assistant', sans-serif;
    /* border: 2px solid rgb(160, 13, 13); */
}
#cartinfo>div>h3{
    font-weight: lighter;
}
#que{
    color: gray ;
    font-family: 'Assistant', sans-serif;
    gap: 5px;
}

/* $quantity-btn-color: #95d7fc; */
.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
	/* .glyphicon {
		color: $quantity-btn-color;
	} */
}
#cartinfo{
    /* border: 2px solid red; */
    width: 22%
}
#product_detail>div>p:first-child{
    font-family: 'Assistant', sans-serif;
    font-size: 10px;
    color: gray ;
}
#product_detail>div>h1{
    margin-top: -7px;
    color: #121212;
}
#product_detail>div>div{
    /* border: 2px solid red; */
    align-items: center;
    margin-top: -10px;
}
#product_detail>div>h3{
    font-weight: lighter;
}
.qtybox{
    height: 47px;
    width: 135px;
    display: flex;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    
}
.qtybox  span{
    width: 100%;
    text-align: center;
    align-items: center;
    /* font-size: 18px; */
    /* font-weight: 400; */
    font-family: 'Assistant', sans-serif;
    color: gray ;  
}
.qtybox>.minus{
    font-size: 18px;
    font-weight: lighter;
    align-self: center;
}
#buttons{
    display:flex;
    flex-direction: column;
    /* height: 45px ; */
    width: 327px;
    margin-top: 10px;
    /* padding: 10px; */
    /* border: 2px solid red; */
    width: 100%;
    border-radius: none;
}
#buttons>button{
    padding: 15px 0;
    margin-top: 10px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    color: rgb(var(--color-button-text));;
    width: 100%;
    background-color: white;
}
#buttons>.atc{
    border: 1px solid black;
    color: #121212;
}
#buttons>.atw{
    border: 2px solid black;
    color: #121212;
    
}
#buttons>.buy{
    background-color: black;
    color: white;
}

#content{
    display: none;
    color: black;
    /* height: 200px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;
}
#content>p{
    color: black;
    text-align: center;
}
#content>button{
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    color: rgb(var(--color-button-text));;
    width: 100%;
    background-color: white
}
#content>#checkout{
    background-color: black;
    color: white;
}
#content>p:last-child{
    text-decoration: underline;
}
#imginfo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#nameinfo>h4,h5{
    align-items: center;
    color: #121212;
    font-family: 'Assistant', sans-serif;
    font-weight: lighter;
}
#adjustimage{
    width: 70px;
    height: 105px;
}

ul{
    margin-left: -40px;
    /* border: 1px solid black; */
}
ul>li{
    margin-left: 60px;
    margin-top: 5px;
}
ul>li:first-child{
    margin-top: 20px;
}
#cartinfo>#payinfo>p:last-child{
    margin-top: 50px;
}
#shipinfo{
    /* border: 2px solid red; */
    /* text-align: center;  */
    width: 55%;
    margin: auto;
    margin-top: 50px;
   
}
#shipinfo h3{
    margin-left: 300px;
    color: #121212;
    font-weight: lighter;
}
#shipinfo>p{
    margin-left: 300px;
    color: #121212;
}

/* footer  */

#footer{
    display: flex;
    margin: 0 15%;
    padding-top: 36px;
    padding-bottom: 36px;
}
#footer p{
    row-gap: 6rem;
    color: grey;
    font-weight: 300;
}
#footer #pBold{
    color: rgb(68, 68, 68);
    font-weight: 600;

}
#mailBox{
    border: 1px solid rgb(187, 179, 179);
    width: 400px;
    border-radius: 1px;
    display: flex;
    align-items: center;
}
#mailBox a{
    margin-left: 35%;
    color: black;
    font-size: 14px;
    transition: transform 0.2s;
    text-decoration: none;
}
#mailBox i{
    display: grid;
    margin: 12px;
    margin-left: 325px;
    justify-content:flex-end;
    /* margin-right: 10px; */
    align-content: center;
}
#contacts{
    margin-left: 15%;
}
#paymentMethod{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1px;
    margin: 32%;
    margin-top: 35px;
    margin-bottom: 0px;
}
#copywrite{
    font-size: 12px;
    text-align: center;
}






  
  
  
  

